@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: #8685EF;
  border-radius: 15px;
}

  body {
    @apply bg-[#1C1C1C];
  }
  
  html {
    @apply scroll-smooth;
  }

  .container {
    @apply flex justify-between max-w-screen-xl px-4 overflow-hidden;
  }

  