@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 10px;
  border-radius: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary-blue;
  border-radius: 15px;
}

  body {
    @apply bg-gray flex flex-col items-center justify-center;
  }
  
  html {
    @apply scroll-smooth;
  }

  .section-container{
    @apply flex h-full w-full items-center justify-center pt-24
  }
  
  .centralized-container {
    @apply w-full max-w-screen-xl px-4 overflow-hidden;
  }

  